<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/_fragments/main-layout :: layout(
												~{::title},
                                                ~{:: #changePassword-static-resources},
                                                ~{:: #changePassword-mainContent}
                                               )}">
<head>
<!-- Block javaScript, CSS source files -->
<th:block id="changePassword-static-resources">
</th:block>

<title>Sign In</title>

</head>
<body>
	<!-- Main content body layout  -->
	<div id="changePassword-mainContent" class="container">
		<div class="login-form">

			<form name='changePassword' th:action="@{/changePassword}" th:modelAttribute="user" method='post'>
				<h2 class="text-center">change passsword</h2>
				<div
					th:replace="_fragments/form-fragment.html :: 
					formRow(field='password',typeInput='password' ,label='Password',placeholder='')">
				</div>				
				<div
					th:replace="_fragments/form-fragment.html :: 
					formRow(field='matchingPassword',typeInput='password' ,label='Confirm password',placeholder='')">
					<!-- <span class="error">${errorPasswordMatches}</span> -->
				</div>	

				<div
					th:replace="_fragments/form-fragment.html :: 
					formSubmitButton (label='change Password', value='', style='btn btn-primary btn-block')">
				</div>


			</form>
		</div>
	</div>

</body>
</html>