<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/_fragments/main-layout :: layout(
												~{::title},
                                                ~{:: #signup-static-resources},
                                                ~{:: #signup-mainContent}
                                               )}">
<head>
<!-- Block javaScript, CSS source files -->
<th:block id="signup-static-resources">
</th:block>

<title>Sign Up</title>

</head>
<body>
	<!-- Main content body layout  -->
	<div id="signup-mainContent" class="container">
		<div class="login-form">

			<form th:name='signup' th:action="@{/signup}" th:object="${user}"
				th:method='post'>


				<h2 class="text-center">Sign up</h2>

				<div
					th:replace="_fragments/form-fragment.html :: 
					formRow(field='firstname',typeInput='text' ,label='FirstName',placeholder='')">
				</div>
				<div
					th:replace="_fragments/form-fragment.html :: 
					formRow(field='lastname',typeInput='text' ,label='LastName',placeholder='')">
				</div>
				<div
					th:replace="_fragments/form-fragment.html :: 
					formRow(field='email',typeInput='text' ,label=#{login.email},placeholder='exemple@email.com')">
				</div>
				<div
					th:replace="_fragments/form-fragment.html :: 
					formRow(field='password',typeInput='password' ,label='Password',placeholder='')">
				</div>
				<div
					th:insert="_fragments/form-fragment.html :: 
					formRow(field='matchingPassword',typeInput='password' ,label='Confirm password',placeholder='')">					
				</div>
				<div class="form-group  text-center" th:if="${errorform != null}">
					<th:span class="error" th:text="${errorform}">Error Form</th:span>				
				</div>				
			

				<div
					th:replace="_fragments/form-fragment.html :: 
					formSubmitButton (label=#{login.submit}, value='', style='btn btn-primary btn-block')">
				</div>

			</form>
		</div>
	</div>

</body>
</html>