<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{_fragments/main-layout :: layout(
												~{::title},
                                                ~{:: #successRegister-static-resources},
                                                ~{:: #successRegister-mainContent}
                                               )}">
<head>
<!-- Block javaScript, CSS source files -->
<th:block id="successRegister-static-resources">
</th:block>

<title>Activate account</title>

</head>
<body>
	<!-- Main content body layout  -->
	<div id="successRegister-mainContent" class="container">
	Bravo compte creer ou Reset Password
	<br>
	<br>A activer par mail Style page a faire</div>

</body>
</html>