<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{_fragments/main-layout :: layout(
												~{::title},
                                                ~{:: #index-static-resources},
                                                ~{:: #index-mainContent}
                                               )}">
<head>

<!-- Block javaScript, CSS source files -->
<th:block id="index-static-resources">
</th:block>

<title>Home</title>

</head>
<body >

	<!-- Main content body  -->
	<div id="index-mainContent" class="container-fluid">
		<div id="underConstruction" th:insert="~{_home/underConstruction}"></div>
		<!--about section-->
		<div id="about" th:insert="~{_home/about :: section}"></div>
		<!-- Portfolio Section
		<div id="portfolio" th:insert="~{_home/portfolio :: section}"></div>
-->

	</div>

</body>

    </html>