<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{_fragments/main-layout :: layout(
												~{::title},
                                                ~{:: #homeAbout-static-resources},
                                                ~{:: #homeAbout-mainContent}
                                               )}">
<head>
<!-- Block javaScript, CSS source files -->
<th:block id="homeAbout-static-resources">
</th:block>

<title>About Us</title>

</head>
<body>
	<!-- Main content body layout  -->
	<div id="homeAbout-mainContent" class="container">
		<div style="text-align: center">
			<img th:src="@{/images/underconstruction.png}" alt="Info Logo" />
		</div>
	</div>
</body>
</html>