<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout (title, otherStaticResources,mainContent)">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" />
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- Other javascript, css source files -->
<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>

<title th:replace="${title}">Admin-layout Title</title>
</head>

<body>

	<!-- Header content body  -->
	<div id="admin-header"
		th:insert="~{/_fragments/header-fragments :: menu}">Header of
		main-layout</div>
		
	<!-- main content body  -->
	<div class="main-content">
		<div class="maincontent-left" th:insert="~{/_fragments/adminMenu-fragments :: adminMenu}">>
			<p>Admin content LEFT</p>
		</div>
		<div class="maincontent-right" th:insert="${mainContent} ?: ~{}">
			<p>Admin content RIGHT</p>
		</div>
	</div>
	<div class="main-content" th:insert="${mainContent} ?: ~{}">
		<p>Main content of main-layout</p>
	</div>

	<!-- Footer content body  -->
	<div id="admin-footer"
		th:replace="~{/_fragments/footer-fragments :: footer}">Footer of
		main-layout</div>



</body>
</html>