<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />
<title>Header Fragments</title>
</head>
<body>
	<!-- Menu -->
	<header class="header" th:fragment="menu">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		
			<a class="navbar-brand" th:href="@{/home}"> <img
				th:src="@{/images/logo.png}" width="30" height="30" /> Brico Tuto
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarText">
				<!-- left zone -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/home}"> <span th:utext="#{menu.home}">home</span>
					</a> <span class="sr-only">(current)</span></li>

					<li class="nav-item active"><a class="nav-link"
						th:href="@{/about}"> <span th:utext="#{menu.about}">about</span>
					</a></li>

					<li class="nav-item active"><a class="nav-link"
						th:href="@{/member}"> <span th:utext="#{menu.member}">member</span>
					</a></li>
					<li class="nav-item">
						<div sec:authorize="hasRole('ADMIN')" class="active">
							<a class="nav-link" th:href="@{/admin}"> <span
								th:utext="#{menu.admin}">admin</span>
							</a>
						</div>
					</li>
				</ul>
				<!-- right zone -->
				<ul class="navbar-nav ml-auto">
					<!-- Sign in/sign out -->
					<li class="nav-item active" sec:authorize="isAnonymous()"><a
						class="nav-link" th:href="@{/signin}">Sign in</a></li>

					<li class="nav-item active" sec:authorize="isAuthenticated()">
						<form id="logout" th:action="@{/logout}" method="post">
							<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />
						</form> <a class="nav-link"
						href="javascript:document.getElementById('logout').submit()">Logout</a>
					</li>

					<!-- Internalization -->
					<li class="nav-item"><a class="nav-link" th:href="@{/en/home}">
							<img th:src="@{/images/iconeUK.png}" width="20" height="20" />
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/fr/home}">
							<img th:src="@{/images/iconeFR.png}" width="20" height="20" />
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/es/home}">
							<img th:src="@{/images/iconeES.png}" width="20" height="20" />
					</a></li>
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>